<launch>
	<arg name="DEVICE_INDEX" default="7"/>
	<arg name="CHANNELS" default="1"/>
	<arg name="RATE" default="44100"/>
	<arg name="LOOP_RATE" default="20"/>
	<!-- CHUNK = int(RATE / LOOP_RATE) -->
	<node name="audio_streamer" pkg="audio_streamer" type="audio_stream_from_mic.py" output="screen">
        <param name="DEVICE_INDEX" value="$(arg DEVICE_INDEX)"/>
        <param name="CHANNELS" value="$(arg CHANNELS)"/>
        <param name="RATE" value="$(arg RATE)"/>
        <param name="LOOP_RATE" value="$(arg LOOP_RATE)"/>
	</node>
	<node name="audio_signal_processor" pkg="audio_signal_processor" type="audio_signal_processor.py" output="screen">
	</node>
	<node name="dummy_perception_manager" pkg="dummy_perception_manager" type="dummy_perception_manager.py" output="screen">
	</node>
</launch>

