<launch>
	<param name="perception/robot_speech" value="false"/>
	<param name="perception/human_speech" value="false"/>
	<param name="perception/name" value=""/>

	<arg name="DEVICE_INDEX" default="7"/>
	<arg name="CHANNELS" default="1"/>
	<arg name="RATE" default="44100"/>
	<arg name="LOOP_RATE" default="20"/>
    <node name="KIST_stt_converter" pkg="speech_to_text_converter" type="stt_converter.py" output="screen">
	</node>
</launch>


